<html>
<head>
	<title>{{#title}}{{title}} - {{/title}}{{site}}</title>
	<link href='http://fonts.googleapis.com/css?family=Merriweather' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Roboto+Slab:100' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Inconsolata' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" type="text/css" href="/static/css/default.css"></link>
	<link rel="stylesheet" type="text/css" href="/static/css/code.css"></link>
	<meta name="viewport" content="width=device-width,initial-scale=1" />
</head>
<body>
	<div id="content">
		<div id="header">
			<div id="siteTitle"><a href="/">{{site}}</a></div>
			<div id="meta">
				<span><a href="/all">All Pages</a></span>
				<span><a href="/tags">Tags</a></span>
			</div>
		</div>
