body
{
	font: 16px "Merriweather", serif;
	line-height: 1.625;
	background: #fff; 
	color: #373737;
}

a { color: #1982d1; }

h1 { 
	font-family: 'Roboto Slab', serif;
	font-size: 2em; 
}

h2 { font-size: 1em; }

blockquote
{
	border-left: 5px solid #ccc;
	padding: 0px 10px 0px 10px;
}

#content
{
	max-width: 800px;
	min-width: 200px;
	margin-left: auto;
	margin-right: auto;
}

#header
{
	font-size: 0.9em;
	padding-left: 50px;
	margin-bottom: 2px;
	margin-top: 20px;
	padding: 10px 0px 10px 0px;
	min-height: 2em;
	font-weight: bold;
}

#siteTitle
{
	float: left;
	margin-left: 50px;
	margin-top: 0.2em;
}

#siteTitle a 
{
	color: #373737;
	text-decoration: none;
}

#meta
{
	float:right;
	margin-right: 50px;
	margin-top: 0.2em;
}

#meta a
{
	color: #373737;
	text-decoration: none;
	margin-right: 30px;
}

#postContainer
{
	padding: 10px 10px 30px 10px;
}

.prev { float: left; }
.next { float: right; }
.prevnext { height: 2em; }

.prevnext a 
{ 
	text-decoration:none; 
	font-weight: bold;
	font-size:0.9em;
}

.post
{
	max-width: 600px;
	margin-left: auto;
	margin-right: auto;
	border-bottom: 1px solid #dededc;
}

.post > h1 > a
{
	text-decoration:none;
	color: #373737;
}

.postInfo
{
	color: #666;
	font-size: 0.9em;
	margin-bottom: 20px;
}

.author { font-weight: bold; }

#footer
{
	margin-top: 2px;
	padding: 10px 10px 10px 20px;
	min-height: 2em;
	font-size: 0.7em;
	font-weight: bold;
}

#attrib { text-align: center; }

#attrib a
{
	color: #0080ef;
	text-decoration: none;
}
