body
{
	font: 15px "Helvetica Neue", Helvetica, Arial, sans-serif;
	line-height: 1.625;
	background: #e2e2e2;
}

a
{
	color: #0000c8;
}

h1
{
	font-size: 2em;
}

h2
{
	font-size 1.625em;
}

h3
{
	font-size: 1.3em;
}

#content
{
	max-width: 800px;
	min-width: 200px;
	margin-left: auto;
	margin-right: auto;
}

#header
{
	color: #eee;
	background: #252525;
	padding-left: 50px;
	margin-bottom: 2px;
	margin-top: 40px;
}

#siteTitle
{
	font-weight: bold;
	padding: 20px 0px 20px 0px;
	font-size: 1.625em;
}

#siteTitle a 
{
	color: #eee;
	text-decoration: none;
}

#post
{
	padding: 10px 50px 30px 50px;
	background: #fff;
}

#author
{
	font-weight: bold;
}

#date
{
}

#footer
{
	margin-top: 2px;
	padding: 30px 10px 30px 20px;
	background: #252525;
	color: #eee;
	font-size: 1.2em;
	min-height: 2em;
}

#footer > #meta a
{
	color: #eee;
	text-decoration: none;
	margin-right: 30px;
}

#meta
{
	float:left;
}

#attrib
{
	float:right;
	text-align: right;
}

#attrib a
{
	color: #0080ef;
	text-decoration: none;
}
